<div id="land">
  <div class="vcenter">
    <h1>Exclusive. Deals. Every. 60. Seconds.</h1>
      <% if current_ticket.ticket %>
        <h2><%= pluralize(@waiting_count, 'person') %> are in queue</h2>
        <h2>Currently serving Ticket #<%= current_ticket.ticket.ticket_no %></h2>
      <% else %>
        Yey! No waiting! Claim before someone pushes you into a queue!!
      <% end %>
    <div id="waiting-timer"></div>
    <%= simple_form_for @new_ticket do |f| %>
      <%= f.input :name, label: false, placeholder: "Your Name.." %>
      <%= f.input :email, label: false, placeholder: "Your Email..." %>
      <%= f.submit "Take Ticket ##{@new_ticket.ticket_no}", class: "btn" %>
    <% end %>
  </div>
</div>
<% if @seconds_left > 0 %>
  <script type="text/javascript">
    var clock = $('#waiting-timer').FlipClock(<%= @seconds_left %>, {
      countdown: true,
      clockFace: 'MinuteCounter'
    });
  </script>
<% end %>