<div id="ticket">
  <h1>You are Ticket #<%= @ticket.ticket_no %></h1>
  <%= image_tag "waiting.jpg", id: "waiting-pic" %>
  <% if current_ticket.ticket %>
    <h2>Currently serving Ticket #<%= current_ticket.ticket.ticket_no %></h2>
  <% end %>
  <div id="waiting-timer"></div>
</div>
<% if @seconds_left > 0 %>
  <script type="text/javascript">
    var clock = $('#waiting-timer').FlipClock(<%= @seconds_left %>, {
      countdown: true,
      clockFace: 'MinuteCounter'
    });
  </script>
<% end %>

<script type="text/javascript">
  $(window).on('beforeunload', function() {
    $.ajax({
      url: '<%= ticket_path(@ticket) %>',
      method: 'PUT',
      data: {'closed' : true}
    });
  });
</script>